body {
	background-color: #fff;
	color: #fff;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-position: center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow:auto;
	font-family: 'Open Sans', sans-serif;
}

.row {
	margin:0px !important;
}


a {
	color: #fff;
}
a:hover {
	color: #000;
}

.nav > li > a:hover, .nav > li > a:focus {
background-color:transparent;
}
.container-fluid {
	padding: 0px !important;
}

/*  header */
.header{
	display: block;
	height: 134px!important;
	width: 1050px;
	margin-left: 0px !important;
	background: #c5deea; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1ZGVlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA5NmQ3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDY5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left, #c5deea 0%, #0096d7 0%, #004693 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c5deea), color-stop(0%,#0096d7), color-stop(100%,#004693)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #c5deea 0%,#0096d7 0%,#004693 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #c5deea 0%,#0096d7 0%,#004693 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #c5deea 0%,#0096d7 0%,#004693 100%); /* IE10+ */
	background: linear-gradient(to right, #c5deea 0%,#0096d7 0%,#004693 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#004693',GradientType=1 ); /* IE6-8 */


	}



.title{
	float: left;
	margin-left: 10px;
	width: 600px;
}

.title h1{
	font-size: 250%;
	line-height: 36px !important;
	letter-spacing: .01em !important;
	font-weight: normal !important;
}
.title h4{
	font-size: 22px !important;
	line-height: 20px !important;
	font-weight: 400 !important;
	font-style: italic !important;
	letter-spacing:.01em !important;
}

.logo{
	background-color: #fff;
	position: relative;
	bottom: 170px;
	right: 0px;
	padding: 14px 0px 14px 8px;
}
.brand{
	display:block;
	/*width: 200px;*/
	height: 134px;
	background-color: #fff;
}
.wedge{
	position: relative;
	bottom: 30px;
	right:50px;
	width:50px;
	min-height:134px;
}

/*  /header */

/* main div */
.main{
	margin-top: 134px;
	overflow: hidden;
	min-height: 500px;
}
.main h5{
	color: #DC3027;
	font-size: 13px;
	line-height: 18px;
}
.main p{
	color:#222;
}
.profiles{}

.profiles img {
	margin: auto;
	margin-top: 4%;
}

.profiles div.row-fluid {
	margin:10px auto;
}

/*  /main div */

/*  navigation */
.navbar-fixed-top{
	margin-bottom: 0px !important;
	width: 100% !important;
	overflow:hidden;
	background-color: #fff;
}

.headerbg{
	height:134px;
	/*width:50%;*/
	float:left;
	background: #0096d7;
	margin:0px !important;
}

.whitebg{
	background-color: #fff;
	height:134px;
	/*width:50%;*/
	float:right;
	margin:0px !important;
}

.navbar{
	background-color:#004693;
	height: 34px !important;
	margin-top: 100px;
	clear:left;
}

.navbar-form input, .navbar-form .btn{
	background-color: transparent !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	-webkit-box-shadow:none!important;
	border: none!important;
}




form.navbar-form {
	position: relative;
	left:-280px;
	width:220px;
	top:100px;
}

form.active {
	background-color: #9e9e9e !important;
	z-index: 999;
	/*margin-top: 0px;
	position: absolute;
	right:198px;
	bottom:0px;
	width:20%;*/
}

.navbar-form .btn{
	background-image: url(../../images/search_off.png);
	background-repeat: no-repeat;
	position: absolute;
	width:17px;
	height:17px;
	top:7px;
	right:12px;
}

.active .btn{
	/*top:10px;*/
}
.btn:hover,
.btn:focus {
	background-position: 0 0 !important;
  -webkit-transition: background-position 0 linear !important;
     -moz-transition: background-position 0 linear !important;
       -o-transition: background-position 0 linear !important;
          transition: background-position 0 linear !important;
	}

.navbar .nav {
	/*min-width: 940px;*/
}

.navbar .nav  li  a{
	text-shadow: none!important;
	color:#fff ;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	padding:0px;
	margin:10px 15px 10px;
	letter-spacing: .06em !important;
}

.navbar .nav  .active  a{
	background: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-weight: bold !important;
	color:#fff !important;
}
/*  /navigation */

/* footer */

.footer{
	background-color: #222;
	overflow: hidden;
}


.footer .span12 p{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 5%;
	color:#fff;
	font-size: 13px !important;
	line-height: 18px !important;
}
.footer .span12 h5{
	line-height: 18px !important;
	margin-bottom: 0px !important;
	margin-left: 5%;
}

.footer .span12{
	margin-bottom: 10px !important;
	
}

.sobro{
	margin-right: 10%;
	margin-top: 10px;
}

/*   /footer */

/* home page slideshow */
.overlay{
	background-color: transparent;
	background-image:url(../../images/red_banner.png);
	background-repeat:no-repeat;
	background-position:center; 
	position:absolute;
	width:323px;
	height:133px;
	right:0;
	bottom:15%;
}

.overlay h2 {
	margin: 15% 10% 15% 20%;
	font-size: 26px;
	line-height: 30px;
}
.slides {
	position: fixed;
}

.carousel-inner img {
  width: 100% !important;
}

.carousel {
	margin-bottom: 0px !important;
}
/* /home page slideshow */

@media (max-width: 1250px) {
.headerbg, .whitebg {
	display: none;}
}
/* mobile */

@media (max-width: 320px) {

	body, .navbar-fixed-top{
		padding: 0px!important;
		margin: 0px!important;
	}

/********************* mobile header ****************/
.navbar-fixed-top{
	width:320px !important;
	max-width: 320px !important;
	min-width: 320px !important;
	height: 78px! important;
}

.header{
	height: 78px!important;
}

div.title{
	min-height: 78px !important;
}
.title{
	margin: 0px !important;
	margin-top: 18px !important;
}

.title h1{
	margin: 5px !important;
	font-size: 13.5px !important;
	line-height: 12px !important;
	letter-spacing: 0.005em !important;
}
.title h4{
	margin: 5px !important;
	font-size: 8.5px !important;
	line-height: 9px !important;
	letter-spacing: 0.005em !important;
}

.logo  img{
	/*width:55% !important;*/
	margin-left: -7px !important;
	margin-top: 7px !important;
}
.logo{
	padding: 0px !important;
}
div.logo{
	background-color: #fff!important;
	width: 25% !important;
	height: 78px !important;
}

.wedge{
	right:80px !important;
	height: 78px !important;
	min-height: 50px !important;
	width: 26px!important;
	overflow: hidden;
}

.wedge img {

}


/********************* /mobile header ****************/

/** mobile navigation ******************/
.navbar-form .btn{
	background-image: url('../../images/mobile_search.png')!important;
}




/** /mobile navigation ******************/

/*****mobile main div **************/

.main{
	margin-top: 78px !important;
	min-height: 200px !important;
}



/** /mobile main div ***************/




/********************* mobile slideshow ********************/
.overlay {
	background-image: none !important;
	background-color: #dc3027;
	position:absolute;
	bottom:0px;
	width:320px;
	height:34px;
	}

.overlay h2{
	text-align: center;
	margin: 0px !important;
	margin-top: 8px !important;
	font-size:12px !important ;
	letter-spacing: normal !important;
	line-height:12px !important ;
}

.carousel-inner img{
	height: 200px !important;
}

/********************* mobile slideshow ********************/

/******mobile footer **************/

.footer{
	height:94px !important;
}
.footer .span12 p{
	font-size: 7px !important;
	line-height: 12px !important;
	margin-left: 5px !important;
	letter-spacing: normal !important;
}
.footer .span12 h5{
	font-size: 7px !important;
	line-height: 12px !important;
	margin-bottom: 0px !important;
	margin-left: 5px !important;
	letter-spacing: normal !important;
}

.sobro {
	margin-right: 10px !important;
	margin-top: 5px !important;
}

.sobro img {
	width: 95px !important;
}

.footer .span12 p.m-copy{
	margin-top:5px !important;
}
/* /mobile footer ***************/

/* /mobile */

body{
	width:320px!important; 
}

div.container-fluid{
	width:320px!important; 
	background-color:#fff;
	}

}
