body {
	background-color: #000;
	color: #fff;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-position: center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 960px;
	overflow:auto;
	background-image:url(../../images/background.jpg);
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #fff;
}
a:hover {
	color: #000;
}


.nav > li > a:hover, .nav > li > a:focus {
background-color:transparent;
}
.container-fluid {
	padding: 0px !important;
}
.overlay{
	background-color:#ff0000;
	background-image:url(../../images/background.jpg);
	background-repeat:no-repeat;
	background-position:center; 
	position:absolute;
	width:30%;
	height:10%;
	right:0;
	bottom:0;
}

.header{
	display: block;
	background: #c5deea; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1ZGVlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA5NmQ3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDY5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left, #c5deea 0%, #0096d7 0%, #004693 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c5deea), color-stop(0%,#0096d7), color-stop(100%,#004693)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #c5deea 0%,#0096d7 0%,#004693 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #c5deea 0%,#0096d7 0%,#004693 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #c5deea 0%,#0096d7 0%,#004693 100%); /* IE10+ */
	background: linear-gradient(to right, #c5deea 0%,#0096d7 0%,#004693 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#004693',GradientType=1 ); /* IE6-8 */
}

.title{
	padding-left: 30px;
}

.title h1{
	margin-top: 5px !important;
	font-size: 36pt !important;
	line-height: 36pt !important;
	font-weight: normal !important;
}
.title h4{
	font-size: 22pt !important;
	line-height: 14pt !important;
	font-weight: 400 !important;
	font-style: italic !important;
}

.logo{
	display: block;
	float:right;
}
.main{
	margin-top: 130px;
}

.footer{
	background-color: #222;
	
}

.footer .span12 p{
	margin-top: 0px !important;
	margin-left: 0px !important;
	margin-bottom: 0px !important;
	color:#fff;
	font-size: 13px!important;
	line-height: 18px!important;
}
.footer .span12 h5{
	line-height: 18px !important;
	margin-bottom: 0px !important;
}

.footer .span12{
	margin-left: 30px !important;
	margin-bottom: 10px !important;
}
.navbar{
	background-color:#004693;
	margin-bottom: 0px!important;
}

.navbar-inner{
	min-height: 25px  !important;
	margin-bottom: 0px!important;
	background-color:#004693!important;
	background-image: none!important;
	border: none !important;
	padding-left: 15px !important;
}

.navbar .nav > li > a{
	text-shadow: none!important;
	color:#fff ;
}



@media (max-width: 480px) {

	body, .navbar-fixed-top, .main {
		padding: 0px!important;
		margin: 0px!important;
	}



}