body {
	background-color: #000;
	color: #fff;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-position: center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 960px;
	overflow:auto;
	background-image:url(../../images/background.jpg);
}

h1, h2, h3 {
	margin: 0px;
	text-transform: uppercase;
}

h1 {
	font-weight:normal;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 1px;
}

a {
	color: #fff;
}
a:hover {
	color: #000;
}
      
.sidebar-nav {
	position:fixed;
	top:120px;
	text-transform: uppercase;
	width:15%;
}
.sidebar-nav li {
	margin:-4px;
	margin-left:10px;
	font-size:75%;
}

.content-col {
	/*padding:10px;*/
	border: 2px solid #000;
}

.content-col h3 {
	margin-left:5%;
}

.content-col p{
	width:90%;
	margin:auto;
	margin-bottom:10px;
	font-size:75%;
}

.content-col, ul.nav{
	background-color: rgba(0,0,0,0.5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)\9;
	zoom: 1;
	/*padding:10px;*/
}

.nav > li > a:hover, .nav > li > a:focus {
background-color:transparent;
}
.container-fluid {
	padding: 0px !important;
}
.overlay{
	background-color:#ff0000;
	background-image:url(../../images/background.jpg);
	background-repeat:no-repeat;
	background-position:center; 
	position:absolute;
	width:30%;
	height:10%;
	right:0;
	bottom:0;
}

.header{
	display: block;
	background: #c5deea; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1ZGVlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA5NmQ3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDY5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left, #c5deea 0%, #0096d7 0%, #004693 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c5deea), color-stop(0%,#0096d7), color-stop(100%,#004693)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #c5deea 0%,#0096d7 0%,#004693 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #c5deea 0%,#0096d7 0%,#004693 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #c5deea 0%,#0096d7 0%,#004693 100%); /* IE10+ */
	background: linear-gradient(to right, #c5deea 0%,#0096d7 0%,#004693 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#004693',GradientType=1 ); /* IE6-8 */
}
.logo{
	display: block;
	float:right;
	/*background-image: url(../../images/logo.png);
	background-repeat:no-repeat;
	width:226px;
	height: 133px;*/
}
.main{
	margin-top: 130px;
}

.footer{
	height:130px;
	background-color: #222;
}


@media (max-width: 480px) {

	body, .navbar-fixed-top, .main {
		padding: 0px!important;
		margin: 0px!important;
	}



}